<div class="login-status-header">
    
    <div *ngIf="isUserAuthenticated && userFullName" class="login-status-user-info">
        Welcome back {{ userFullName }}
    </div>

    <button *ngIf="!isUserAuthenticated" routerLink="/login" class="security-btn ml-10 mr-10">Login</button>
    
    <button *ngIf="isUserAuthenticated" (click)="logout()" class="security-btn">Logout</button>
    
    <button *ngIf="isUserAuthenticated" routerLink="/members" class="security-btn ml-10 mr-10">Member</button>
    
    <button *ngIf="isUserAuthenticated" routerLink="/order-history" class="security-btn ml-10 mr-10">Orders</button>
</div>
